
@{
    ViewBag.Title = "AddItems";
    Layout = "~/Views/_LayoutPage2.cshtml";

}



<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ECOMMERCE_STORE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" id="redirect" onclick="@("window.location.href='"+Url.Action("GetAllCard","Card")+"'")">All-Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" id="redirect" onclick="@("window.location.href='"+Url.Action("AddCard","Card")+"'")">Add-Items</a>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<h2>
    @ViewBag.Msg
    @ViewBag.Error2
    @ViewBag.Error3
</h2>

@using (Html.BeginForm("AddCard", "Card", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="main">
        <div class="middle">
            <form>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" name="Name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <textarea class="form-control" name="Description" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input type="text" name="Price" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="file" name="ImagePath" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
}
